*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/*NAVBAR*/

#navbar{
	background-color: #003B66;
}

.navbar-brand{
	color: #E0F000;
	font-weight: bold;
	font-size: 1.3rem;
}

.nav-link{
		color: white;
}


/*LANDING SECTION*/

#landing{
	height: 100vh;
	font-family: Montserrat, "Noto Sans";
	color: white;
	background:   
		radial-gradient(
			rgba(0, 49, 84, 0.2), /* top */
			rgba(0, 49, 84, 1.0)  /* bottom */
		),
		url("./images/bg-homepage_japan.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.landing-title {
	font-size: 3.0rem;
	font-weight: bold;
}

#search-bar{
	background-color: white;
	color: #003B66;
	font-size: 1.5rem;
	height: 50px;
	width: 500px;
	border: none;
	border-radius: 25px;
}

#menu-title{
	color: #003B66;

	font-weight: bold;
}

/*END OF LANDING*/



/*CAROUSEL SLIDESHOW*/

	#section-title{
		color: #003B66;
		font-size: 2.0rem;
		font-weight: bold;
	}

	.carousel-inner {
	  height: 60vh;
	}

	.carousel-item img {
	  height: 100%;
	  object-fit: cover;
	}

	/* Make carousel full screen */
	#heroCarousel,
	#heroCarousel .carousel-inner,
	#heroCarousel .carousel-item {
	  height: 100vh;
	}

	/* Make image fully cover */
	.hero-img {
	  height: 100%;
	  object-fit: cover;
	}

	/* Dark overlay */
	.carousel-item::before {
	  content: "";
	  position: absolute;
	  inset: 0;
	  background: rgba(0, 0, 0, 0.5);
	  z-index: 1;
	}

	/* Caption positioning */
	.hero-caption {
	  z-index: 2;
	  bottom: 50%;
	  transform: translateY(50%);
	}




	.aboutme{
		line-height: 20px;
	}

	#landing-button{
		  background-color: #230854;
		  border: 2px solid white;
		  padding-left: 40px;
		  padding-right: 40px;
		  color: white;	
		  cursor: pointer;
		  font-size: 1.3rem;
		  transition: 0.2s;
		}

	#landing-button:hover {
		  opacity: 0.8;
		  border: 0px;
		  background-color: white;
		  color: #370088;
		}
		
	#landing-button:active {
		  opacity: 0.4;
		  color: black;
		}


/*PROJECTS*/

#projects{
	background: 
		linear-gradient(
		 rgba(250, 242, 242, 0.2),
		 rgba(250, 242, 242, 0.2)
		 );
}

#project-title{
	font-weight: bold;
}

#proj-card{
	border: 2px solid white;
	color: #370088;
}

#card-title{
	font-weight: bold;
}

/*TOOLS SECTION*/

#tools{
	background: 
		linear-gradient(
		 rgba(250, 242, 242, 0.2),
		 rgba(250, 242, 242, 0.2)
		 );
}

#tools-title{
	font-weight: bold;
}

#tools-image{
  width: 200px;             /* or any size, or use responsive units */
  aspect-ratio: 1 / 1;      /* ensures square shape */
  overflow: hidden;         /* hides cropped parts */
  border-radius: 10px; 
  border: 1px solid white;
}
#tools img{
  width: 100%;
  object-fit: cover;        /* preserves aspect ratio, fills container (cropped) */
  object-position: center;  /* adjust focal point */
  display: block; 
}     


/*CONTACT SECTION*/

#contact{
	background: 
		linear-gradient(
		 rgba(250, 242, 242, 0.2),
		 rgba(250, 242, 242, 0.2)
		 );
}

#contact-map-area{
}    

#contact-map-image{
	overflow: hidden;         /* hides cropped parts */
	aspect-ratio: 1 / 1;      /* ensures square shape */
	object-fit: cover;        /* preserves aspect ratio, fills container (cropped) */
	object-position: center;  /* adjust focal point */
	display: block; 
	border-radius: 10px; 
	border: 1px solid white;
}     

#contact-form-area{
}

#contact-form{
	border: 1px solid white;
	border-radius: 10px;
	background-color: #370088;
	
}

#contact-textarea{
	resize: vertical;
  max-height: 80px;     
  min-height: 40px;    
}

.contact-form-button{
		background-color: #370088;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 8px;
		padding-bottom: 8px;
		border-radius: 5px;
	  border: 2px solid white !important;
	  color: white;	
	  cursor: pointer;
	  font-size: 1rem;
	  transition: 0.2s;
	}

.contact-form-button:hover {
	  opacity: 0.8;
	  border: 0px;
	  background-color: white;
	  color: #370088;
	}
	
.contact-form-button:active {
	  opacity: 0.4;
	  color: black;
	}



#backToTop {
  position: fixed;
  background-color: #B1A8B9;
  border: 1px solid white;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  display: none;         /* hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #6c757d;
  pointer-events: none;
  font-size: 1.1rem;
}

#book-flight{
	height: 90vh;
	font-family: Montserrat, "Noto Sans";
	color: white;
	background:   
		radial-gradient(
			rgba(0, 49, 84, 0.2), /* top */
			rgba(0, 49, 84, 1.0)  /* bottom */
		),
		url("./images/bg-homepage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}



/*FOOTER SECTION*/

#footer{
	background-color: #003B66;
	color: white;
}