
#banner-title {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 54px;
}

#motto {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.7rem
}

#banner {
  background: 
  linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(126, 209, 247, 0.5)
  ),
  url("https://i.imgur.com/frHbYvL.png");

  height: 550px;
  background-size: cover;
  background-position: center;
}

#highlights-title {
  font-family: "Trebuchet MS", sans-serif;
  color: #0062A8;

}

#highlights-icon {
  width: 20%;
  aspect-ratio: 1 / 1;
}


